<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8" />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
  </head>
  <body>
    <header>
          <nav class="navbar">
            <a href="/" class="nav-logo">
              <img src="/img/wren_logo_light.svg" alt="Wren Logo" />
              <span>Wren Engine</span>
            </a>      
            <a href="/">Home</a>
            <a href="/features/">Features</a>
            <a href="/roadmap/">Roadmap</a>
            <a href="/getting-started" class="nav-highlight">Getting Started</a>
            <button disabled class="btn-try-wren" title="Coming Soon">Try Wren</button>
          </nav>          
    </header>

    <main>
        <div class="container">
          {% block content %}{% endblock content %}
        </div>
      </main>
      
    <footer>
      <p>© 2025 Wren Engine. MPL licensed.</p>
    </footer>
  </body>
</html>
